<div [ngStyle]="{backgroundImage:'url(../.././assets/btg.jpg)'}">
  <div class="container pt-5">
    <div class="card mx-auto">
      <h5 class="card-header text-center">Crear Nuevo Usuario</h5>
      <div class="card-body">
        <div class="row mx-auto">
          <div class="col">
            <div class="form-group row">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="name" placeholder="Nombre" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="col">
            <div class="form-group row">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-at"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="email" placeholder="Email" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="col">
            <div class="form-group row">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="col">
            <div class="form-group row">
              <img [src]=PhotoFilePath height="250px;" width="200px;">
              <input type="file" (change)="uploadPhoto($event)" class="ml-2"/>
            </div>
          </div>
        </div>

          <button (click)="addUser()" class="btn btn-primary float-right">
            Crear Usuario
        </button>
      </div>
    </div>
  </div>
</div>
