/* @import url('https://fonts.googleapis.com/css?family=Numans'); */

/* html,body{
background-size: cover;
background-repeat: repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
} */
