<div [ngStyle]="{backgroundImage:'url(../.././assets/btg.jpg)'}" style="background-repeat: repeat;">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Movie App</h1>
      <p class="lead">Desarrollo con Tecnologia Propietaria 2 - Oliver Arias ( 2020-0813 )</p>
      <hr class="my-4">
      <p class="h3">Bienvenido</p>
      <p class="h5">Millones de películas, programas de televisión y personas por descubrir. Explore ahora.</p>
      <br>
      <div class="row mx-auto">
        <div class="col">
          <div class="form-group row">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <button class="btn btn-primary" type="submit" (click)="search()">Buscar</button>
              </div>
              <input class="form-control" type="search" [(ngModel)]="searchParam" placeholder="Busca una Pelicula, Serie de Television..." aria-label="Search">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center" *ngIf="loading">
      <div class="col">
        <div class="spinner-border text-light" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <!--CARDS-->
    <div class="row justify-content-center">
      <div class="col-3 m-3" *ngFor="let item of resultList">
        <div class="card" style="width: 19rem; height: auto">
          <img src="{{item.poster_path}}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" *ngIf="!item.isMovie">{{item.original_name}}</h5>
            <h5 class="card-title" *ngIf="item.isMovie">{{item.original_title}}</h5>
            <p class="card-text text-muted" *ngIf="!item.isMovie">{{item.first_air_date |date}}</p>
            <p class="card-text text-muted" *ngIf="item.isMovie">{{item.release_date |date}}</p>
            <p class="card-text" *ngIf="!item.isMovie">Tipo: Serie TV</p>
            <p class="card-text" *ngIf="item.isMovie">Tipo: Pelicula</p>
            <p class="card-text">Puntuacion: {{item.vote_average}}</p>
            <hr>
            <div class="row text-center mb-2" *ngIf="saving">
              <div class="col">
                <div class="spinner-border text-dark" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <button class="btn btn-outline-info mr-2" data-toggle="modal" data-target="#infoModal"(click)="sendPlot(item.overview)"><i class="fas fa-info-circle fa-2x"></i></button>
                <button class="btn btn-outline-secondary mr-2" (click)="sendId(item)"><i class="fas fa-download fa-2x"></i></button>
                <button class="btn btn-outline-danger mr-2" *ngIf="item.hasTrailer" data-toggle="modal" data-target="#trailerModal"><i class="far fa-play-circle fa-2x"></i></button>
                <button class="btn btn-outline-primary" (click)="saveLike(item)"><i class="fas fa-thumbs-up fa-2x"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Resumen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-movie-info [plot]="plot"></app-movie-info>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="trailerModal" tabindex="-1" role="dialog" aria-labelledby="trailerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="trailerModalLabel">Trailer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clear()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-movie-trailer [videoId]="video.key"></app-movie-trailer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">Close</button>
      </div>
    </div>
  </div>
</div>
